.App-header {
  margin: 40px;
  text-align: center;
}

a {
  color: #ff1493;
  font-weight: bold;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: #5d3fd3;
}

.App-header h1 {
  font-weight: 700;
  font-size: 54px;
  margin-top: 100px;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
